<%= form_for @video do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :embed_code %><br />
    <%= f.text_field :embed_code %>
  </p>
  <p><%= f.submit %></p>
<% end %>
