<div id="home_pic">
 <%= image_tag "/images/cade1.png" %>
</div>
<div class="show_carousel">
  <h2>Upcoming Shows</h2>
  <ul>
  <% for show in @shows %>
    <li>
      <strong><%= link_to show.venue, show %></strong><br />
      <%= display_date(show.show_date) %>
    </li>
    <% end %>
  </ul>
  <button class="prev">Prev</button>
  <button class="next">Next</button>
  <%= link_to "Calendar View", shows_path %>
    <% if can? :create, @show %>
    <%= link_to "New Show", new_show_path %>
    <% end %>
</div>
<div id="facebook">
  <%= link_to image_tag("/images/evil_cowboy_facebook.png"), "http://www.facebook.com/cade.baccus", :target => "_blank" %>
</div>