<% title "The Low Down" %>

<div id="show_page">
  <h3>Venue:</h3>
  <%= link_to @show.venue, @show.venue_url, :target => "_blank" %>

  <h3>Date:</h3>
  <%= display_date(@show.show_date) %>

  <h3>Time:</h3>
  <%= display_time(@show.show_time) %>

  <h3>Notes from the man:</h3>
  <%= @show.notes %>
  <div id="show_img">
    <%= image_tag "/images/now_playing_sml.png" %>
  </div>
</div><br />

<div>
  <% if can? :update, @show %>
  <%= link_to "Edit", edit_show_path(@show) %> |
  <% end %>
  <% if can? :destroy, @show %>
  <%= link_to "Delete", @show, :confirm => 'Are you sure?', :method => :delete %> |
  <% end %>
  <%= link_to "Back to Calendar", shows_path %>
</div>