<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Cade Baccus" %></title>
    <%= stylesheet_link_tag "jquery-ui-1.8.12.custom", "application", "inlineplayer", "flashblock", "nivo-slider", "slimbox2" %>
    <%= javascript_include_tag "jquery-1.5.1.min", "jquery-ui-1.8.12.custom.min", "jquery.rails", "application", "combined" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="logo_nav">
    <%= link_to image_tag("/images/logo1.png"), root_path %>
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Pictures", galleries_path %></li>
        <li><%= link_to "Music", songs_path %></li>
        <li><%= link_to "About", "/pages/about" %></li>
        <li><%= link_to "Contact", new_contact_path %></li>
        <% if can? :destroy, @user %>
        <li><%= link_to "Users Admin", users_path %></li>
        <% end %>
      </ul>
    </div>
    <div id="container">
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <% end %>
        <%= content_tag :h1, yield(:title) if show_title? %>
        <%= yield %>
    </div>
    <div class="clear"></div>
    <div id="footer">
      <% if logged_in? %>
        Welcome <%= current_user.username %>! Not you?
        <%= link_to "Log out", logout_path %>
      <% else %>
        <%= link_to "Admin Log In", login_path %>
      <% end %>
      <p>©2011 Grizzled Web Designs</p>
    </div>
  </body>
</html>